{% extends "product-detail-base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'product-detail-navbar.html' %}

<body class="product-detail-body">

    <div class="row product-container">

        <div class="col-md-6 product-image-box" data-aos="fade">
            <img src="{{ product.image_2.url }}" class="img-fluid product-detail-image">
            <form method="POST" class="product-quantity">

            </form>
        </div>

        <form method="POST" class="col-md-6 product-detail-box" data-aos="fade">
            {% csrf_token %}
            <div class="row product-details-wrap">
                <p class="product-detail-name">{{product.artist_name}}</p>
                <p class="product-detail-album">{{product.album_title}}</p>
                {{ form|crispy }}
            </div>


            <div class="button-row row">
                <div class="col-md-6 btn-wrap buy-btn" style="padding: 0px">

                    <button type="submit" class="main-btn-style">BUY</button>
                </div>
                <div class="col-md-6" style="padding: 0px">
                    <button class="main-btn-style">BUY SECOND HAND</button>
                </div>
            </div>
        </form>
    </div>

</body>
{% endblock content %}