{% extends "product-detail-base.html" %}

{% block content %}

<body class="product-detail-body">

    <div class="row product-container">

        <div class="col-md-6 product-image-box" data-aos="fade">
            <img src="{{ product.image_2.url }}" class="img-fluid">
        </div>

        <div class="col-md-6 product-detail-box" data-aos="fade">
            <p class="product-detail-name">{{product.artist_name}}</p>
            <p class="product-detail-album">{{product.album_title}}</p>
            <p class="product-detail-album mt-4">{{product.description}}</p>

            <div class="button-row row">
                <div class="col-md-6 btn-wrap buy-btn" style="padding: 0px">
                    <button class="main-btn-style">BUY</button>
                </div>
                <div class="col-md-6" style="padding: 0px">
                    <button class="main-btn-style">BUY SECOND HAND</button>
                </div>
            </div>
        </div>
    </div>

</body>
{% endblock content %}