{% extends "no_header_base.html" %}


{% block content %}

<div class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2 class="text-black">Staff portal - Products</h2>
                <div class="card product-list-card">
                    <div class="card-body">
                        <div class="site-blocks-table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Artist/Band</th>
                                        <th>Album Title</th>
                                        <th>Price</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products  %}
                                    <tr>

                                        <td>{{ product.artist_name }}</td>
                                        <td>{{ product.album_title }}</td>
                                        <td>£{{ product.get_price }}</td>
                                        <td class="actions-section">
                                            <a class="product-update-btn mr-2" href="#">Update</a>
                                            <a tabindex="0" class="product-delete-btn" role="button"
                                                data-html="true" data-toggle="popover" data-trigger="focus"
                                                title="Are You Sure?"
                                                data-content="<a href='{{ product.get_delete_url }}'>Yes</a>">
                                                Destroy
                                            </a>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="4">
                                            No products to display
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block scripts %}

<script>
    $(function () {
        $('[data-toggle=popover]').popover();
    })
</script>

{% endblock scripts %}