<nav class="main-nav">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">V I N Y L</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="nav_item" href="/">Home</a></li>
            <li><a class="nav_item" href="{% url 'cart:product-list' %}">Shop</a></li>
            <li><a class="nav_item" href="{% url 'contact' %}">Contact</a></li>
            <li>
                {% if request.user.is_authenticated %}
                <a href="/"><span><i class="fas fa-user icons"></i></span></a>
                {% else %}
                <a href="/"><span><i class="fas fa-sign-in-alt icons"></i></span></a>
                {% endif %}
            </li>
            <li>
                <a href="{% url 'cart:summary' %}" class="site-cart icons">
                    <span><i class="fas fa-shopping-cart icons"></i></span>
                    <span class="count">0</span>
                </a>
            </li>
            <li class="d-inline-block d-md-none ml-md-0">
                <a href="#" class="site-menu-toggle js-menu-toggle icons">
                    <span><i class="fas fa-bars"></i></span>
                </a>
            </li>

            {% if request.user.is_staff %}
            <li><a href="/">Staff</a></li>
            {% endif %}

        </ul>
    </div>
</nav>